.mainDiv {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

body {
    font-family: "Andale Mono", monospace;
    color: whitesmoke;
    padding: 33px;
    background: url("images/background2.jpg") no-repeat;
    background-size: cover;
}

#applyButton {
    padding-right: 13px;
    padding-left: 13px;
    margin-top: 5px;
}

#fileUploader {
    margin-top: 5px;
}

.download {
    margin-top: 15px;
}

img {
    margin-top: 20px;
    padding: 5px;
    min-height: 400px;
    min-width: 400px;
    max-width: 400px;
    max-height: 400px;
    background: dimgrey;
}